{
  "family": "exemplo-family",
  "containerDefinitions": [
    {
      "name": "exemplo-container",
      "image": "nginx:latest",
      "environment": [
        {
          "name": "APP_NAME",
          "value": "app-exemplo"
        }
      ]
    }
  ]
}