# Terraform state e cache
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
**/*.tfvars
**/.terraform.lock.hcl
crash.log

# Arquivos com valores reais
infra/terraform.tfvars
infra/vars.env

# Mantém apenas arquivos de exemplo
!infra/terraform.tfvars.example
!infra/vars.env.example

# Logs e OS
*.log
.DS_Store

# VS Code
.vscode/

